@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Css Reset */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --card-img-bg: #f0f1f6;
  --card1bg: #576aa4;
  --card2bg: #141414;
  --card3bg: #c39d6c;
  --card4bg: #30302e;
  --navbg: #2d2c2c;
  --Cartbg: #e5e6ea;
  --red: #e21a1a;
}

.clr_bx {
  height: 14px;
  width: 14px;
  margin-top: -5px;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--navbg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 2rem;
  z-index: 200;
}

.navbar .navlogo {
  width: 120px;
}

.navbar .navcart {
  cursor: pointer;
  width: 32px;
  transition: 0.3s ease-in-out;
}

.navbar .navcart:hover {
  transform: scale(1.06);
}

.navbar div {
  position: relative;
}

.navbar .cartCAmt {
  background: var(--black);
  color: var(--white);
  position: absolute;
  top: -5px;
  right: -5px;
  /* padding: 0.px 0.1rem; */
  width: 15px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.collections {
  /* background: brown; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 2rem;
  margin-top: 7rem;
}
.collections h2 {
  font-size: 35px;
  font-weight: 600;
}

.collections_contents {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2rem 5rem;
}
.inner_collectiondiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.inner_collection_title h4 {
  font-size: 25px;
  font-weight: 600;
}
.inner_cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(17%, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inner_collections_cards {
  justify-content: center;
  justify-self: center;
  width: 100%;
  height: auto;
  padding: 6px 6px 0px 6px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.inner_collections_cards:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, 0.214);
}

.inner_imgdiv {
  padding: 15px 25px;
  width: 100%;
  background: var(--card-img-bg);
  border: 1px solid hsla(0, 0%, 0%, 0.338);
  box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, 0.214);
  /* background: url(./assets/logo.png); */
  cursor: pointer;
}

.inner_imgdiv img {
  width: 100%;
  height: auto;
  /* width: 130px; */
}

.innercard_typo {
  width: 100%;
  padding: 0.6rem 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardtitle {
  font-size: 20px;
  font-weight: bold;
}

.typo_titlediv {
  width: 100%;
  display: flex;
  gap: 10px;
}

.typo_titlediv p {
  font-size: 16px;
}
.typo_titlediv div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.innercard_typo h4 {
  font-size: 18px;
  font-weight: bold;
}

.card_addbtn {
  height: 47px;
  background: var(--black);
  border: none;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.card_addbtn a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
}

.card_addbtn:hover {
  opacity: 0.8;
  border-radius: 5px;
  transform: scale(1.02);
}

.inner_collections_cards:hover .card_addbtn {
  opacity: 0.8;
  border-radius: 5px;
  transform: scale(1.02);
}

@media screen and (max-width: 947px) {
  .inner_cards {
    grid-template-columns: repeat(2, minmax(17%, 1fr));
  }
}
@media screen and (max-width: 605px) {
  .collections {
    padding: 0 1rem;
  }
  .collections_contents {
    padding: 2rem 2rem;
  }
  .inner_collection_title h4 {
    font-size: 20px;
  }
  .typo_titlediv p {
    font-size: 14px;
  }
  .cardtitle {
    font-size: 17px;
  }
}

@media screen and (max-width: 467px) {
  .collections h2 {
    font-size: 25px;
  }
  .collections_contents {
    padding: 2rem 0rem;
  }
  .cardtitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 395px) {
  .cardtitle {
    font-size: 13px;
  }
}

/* -------------------------- Cart page styles--------------------------------------------------- */

.cart_section {
  /* background: pink; */
  padding: 1rem 2rem;
  margin-top: 7rem;
}

.cart_section h2 {
  font-size: 35px;
  font-weight: 600;
}

.Shpcart_cont {
  /* background: yellow; */
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Shpcart_cont_1 {
  background: var(--Cartbg);
  padding: 1.5rem;
  width: 100%;
  overflow: scroll;
}

.Shpcart_cont_1_title {
  padding: 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.338);
}

.Shpcart_cont_1_title h4 {
  font-size: 25px;
  font-weight: 600;
}

.cont1_itmdiv {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* background: greenyellow; */
  margin-top: 35px;
  /* padding: 0 1rem; */
  width: 100%;
}

.cont1_itm1 {
  display: flex;
  gap: 40px;
  padding-bottom: 10px;
  /* background: gray; */
}

hr {
  width: 92%;
  border: 0;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.338);
}
.checkicon_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkicon_div img {
  width: 20px;
}
.cont1_typo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background: bisque; */
}
.cont_typodiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.typo_div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background: palegreen; */
}

.item_imgdiv {
  border: 1px solid hsla(0, 0%, 0%, 0.338);
  width: 130px;
  padding: 0.3rem 0.8rem;
  text-align: center;
}
.itm_img {
  width: 100%;
}
.typo_div p {
  font-size: 16px;
}
.typo_div p:last-child {
  margin-top: 30px;
  color: var(--red);
}
.typo_div h4 {
  font-size: 18px;
}
.itm_amt {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* background: plum; */
  text-align: center;
}

.itm_amt div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.itm_amt p {
  font-weight: 600;

  display: none;
}

.itm_amt span {
  width: 30px;
  background: var(--white);
  text-align: center;
}

.itm_amt img {
  width: 25px;
}

.itm_pricediv {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  /* background: green; */
}

.itm_pricediv p {
  font-weight: 600;
}

/* ---------------------------------------------- */
.Shpcartcont2 {
  position: relative;
  background: var(--Cartbg);
  height: max-content;
  padding: 1rem 1rem 2rem 1rem;
  width: 50%;
}

.cont2_hr {
  width: 100%;
  position: absolute;
  left: 0;
}

.Shpcartcont2 h4 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 0.8rem;
}

.cont2_flex {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 3rem;
}

.flex_title {
  font-weight: 400;
  font-size: 18px;
}
.flex_price {
  font-weight: 700;
  font-size: 16px;
}

.ship_info {
  /* background: yellow; */
  padding: 2rem 0;
}

.ship_info p {
  font-size: 18px;
}

.ship_info .info_head {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.info_btn {
  background: red;
  /* padding: 1rem 0; */
  margin-top: 20px;
}

.info_btn button {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: 500;
}
/* 
.info_btn Link {
  text-decoration: none;
} */

.shop_contdiv {
  padding: 1rem 2rem;
}

.shop_contdiv div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shop_contdiv div img {
  width: 13px;
}

.shop_contdiv div p {
  font-size: 18px;
  font-weight: 700;
}

.shop_contdivlink {
  text-decoration: none;
  color: var(--black);
}

@media screen and (max-width: 1175px) {
  .Shpcart_cont {
    flex-direction: column;
  }
  .Shpcartcont2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .typo_div p:last-child {
    margin-top: 10px;
  }
  .typo_div p {
    font-size: 14px;
  }
  .typo_div h4 {
    font-size: 15px;
  }
  .cont1_itm1 {
    gap: 10px;
  }
}

@media screen and (max-width: 705px) {
  .cart_section {
    padding: 1rem;
  }
  .itm_amt p {
    display: block;
  }
  .itm_pricediv {
    display: none;
  }
  .cont1_typo {
    justify-content: space-between;
    width: 100%;
  }
  .itm_amt img {
    width: 20px;
  }
  .checkicon_div {
    /* width: 20px; */
    display: none;
  }
  .cont1_typo {
    gap: 10px;
  }
  .cont_typodiv1 {
    gap: 5px;
  }
}
